section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


@media screen and (min-width: 1500px){
    section {
        max-width: 50%;
        margin: auto;
    }
}


@media screen and (max-width: 570px){
    section {
        display: grid;
    }
}